<div class="he-header">
    <p class="he-header-left"><img src="assets/img/nav_back@3x.png" alt=""/></p>
    <p>关于我们</p>
</div>
<div class="about-sign">
    <img src="assets/img/logo_big.png" alt=""/>
</div>
<div class="about-btn">
        <p>
          “怎么吃（zemeichi.cc）”是一款与菜场结合的膳食服务平台，有着“想怎么吃就怎么吃”的宣传口号；为消费者解决：跑菜场、买菜、烧菜以及美容保健、膳食养生等生活系列问题。
  精准、方便、快捷、新鲜的物流配送，让消费者享受贴心、专业的管家式优质服务；为商家找到最精准及合适的消费群体，提供持久有效的互联网推广帮助实现最大收益。
        </p>
        <p>
            服务热线 : 400-827-2399
        </p>
        <p>
            服务邮箱 : services@zenmechi.cc
        </p>

    </div>
