
<div class="he-header">
    <p class="he-header-left">
        <img src="assets/img/nav_back@3x.png" alt=""/>
    </p>
    <p class="he-header-center">收货地址</p>
    <p class="he-header-right btn-save">确认</p>
</div>

<ul class="he-addad-list">
    <li class="name">收货人：<input id="consignee" type="text" placeholder="填写您的姓名"/></li>
    <li class="tel">联系方式：<input id="mobile" type="tel" placeholder="填写您的手机号码"/></li>
    <li class="provinces ">
        省市区：
        <select id="provinceId" class="area-select">
            <option value="">省</option>
        </select>
        <select id="cityId" class="area-select">
            <option value="">市</option>
        </select>
        <select id="districtId" class="area-select">
            <option value="">区</option>
        </select>
    </li>
    <li class="address">详细地址：<input id="street" type="text" placeholder="填写您的详细收货地址"/></li>
</ul>
<div class="he-modadd-default btn-default-status">设为默认地址 <span class="status"></span></div>
<div class="he-address-delete">删除</div>
</body>