<div class="he-evaluate-answer">
    <div class="he-header">
        <p class="he-header-left">
            <img src="assets/img/nav_back@3x.png" alt=""/>
        </p>
        <p class="he-header-center">发表评价</p>
    </div>
    <div class="he-evaluate-details">
        <img class="left" src="assets/img/21.png" alt=""/>
        <div class="right">
            <input type="hidden" id="orderId" value=""/>
            <input type="hidden" id="goodsId" value=""/>
            <input type="hidden" id="cookId" value=""/>
            <p class="name"></p>
            <p class="price"><span class="element"></span>
            <span class="number"></span></p>
            <p class="time"></p>
        </div>
    </div>
    <ul class="he-evaluate-list">
        <li class="score">评价星级
            <i class="star selected"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
        </li>
        <li class="comment-label">
            标签
        </li>
        <li class="evaluate">
            <textarea id="answer" placeholder="商品非常棒，送货也很及时！下次还会来的~" class="comment-text"></textarea>
        </li>
    </ul>
    <div class="he-evaluate-plus">
        <img id="choose-comment-img" src="assets/img/add@3x.png" alt=""/>
    </div>
    <button class="btn btn-green btn-block btn-lg he-btn-evaluate">发表评价</button>
</div>
