<ul class="tab-fix">
    <li id="index" class="onthis">
        <a href="#main">
          <div class="tab-icon index"></div>
          <p>首页</p>
        </a>
    </li>
    <li id="mall">
      <a href="#mall">
        <div class="tab-icon mall"></div>
        <p>商城</p>
      </a>
    </li>
    <li id="basket">
      <a href="#shoppingCart">
        <div class="tab-icon basket"></div>
        <p>生鲜篮</p>
        <div class="point">0</div>
      </a>
    </li>
    <li id="personal">
      <a href="#personalCenter">
        <div class="tab-icon mine"></div>
        <p>我的</p>
      </a>
    </li>
</ul>
