
<div class="he-header">
    <p class="he-header-left"><img src="assets/img/nav_back@3x.png" alt=""/></p>
    <p>找回密码</p>
</div>
<ul class="he-lareg-list">
    <li class="top">
        +86 <input type="tel" id="mobile" name="mobile" placeholder="请输入手机号"/>
    </li>
    <li class="bottom">
        <input type="tel" id="captcha" name="captcha" placeholder="请输入验证码"/>
        <button class="btn-captcha">获取验证码</button>
    </li>
</ul>
<div class="he-lareg-bottom">
    <button class="btn btn-login btn-next">下一步</button>
</div>
