<ul class="he-inv-list">
  <li><img class="he-inv-a" src="assets/img/invite_1.png" alt=""/></li>
  <li><img class="he-inv-b" src="assets/img/invite_2.png" alt=""/></li>
  <li><img class="he-inv-c" src="assets/img/invite_3.png" alt=""/></li>
  <li class="foot">
    <div id="zmc_invite_receive_wrap" class="he-inv-cont text-center">
      <input id="zmc_invite_receive_ipt" type="text" placeholder="请输入手机号码"/>
      <button id="zmc_invite_receive_btn" class="btn he-inv-receive-btn">立即领取</button>
    </div>
    <div id="zmc_invite_receive_success_wrap" class="he-inv-cont text-center hidden ">
      <p class="explain ">优惠券领取成功，<span>1元优惠券</span>将自动发放到您的账户中</p>
      <button id="zmc_invite_use_btn" class="btn he-inv-receive-btn">立刻使用优惠券</button>
    </div>
    <div id="zmc_invite_receive_received_wrap" class="he-inv-cont text-center hidden">
      <p class="explain "> 您已经领取过优惠券了.</p>
      <button id="zmc_invite_received_btn" class="btn he-inv-receive-btn">立刻使用优惠券</button>
    </div>
    <div id="zmc_invite_receive_unreg_wrap" class="he-inv-cont text-center hidden ">
      <p class="explain "><span>1元优惠券</span> 已经发放到您的账户：<a href="javascript:;"></a>,
        <br>注册后即可使用。
      </p>
      <button id="zmc_invite_toreg_btn" class="btn he-inv-receive-btn">去注册</button>
    </div>
  </li>
  <li class="cent">
    <!--<img class="he-inv-e" class="he-inv-c" src="../img/5.png" alt=""/>-->
    <p class="rule">———— 活动规则 ————</p>
    <p>1.优惠券仅限怎么吃会员领取。</p>
    <p>2.优惠券同一用户仅限领取一次。</p>
    <p>3.优惠券领取成功后，您可在“我的-我的优惠券”中查看和使用优惠券。</p>
    <p>4.最终解释权归苏州启恩泰信息科技有限公司所有。</p>
  </li>
</ul>

