<div class="he-header">
    <p class="he-header-left"><img src="assets/img/nav_back@3x.png" alt=""/></p>
    <p class="he-header-center">找回密码</p>
    <p class="he-header-right btn-signin">登陆</p>
</div>

<ul class="he-lareg1-list">
    <li>
        输入密码 <input type="password" id="password" name="password" placeholder="请输入新密码"/>
    </li>
    <li>
        再次输入 <input type="password" id="repeatPasswd" name="repeatPasswd" placeholder="请再次输入新密码"/>
    </li>
</ul>
<div class="he-lareg1-btn">
    <button class="btn btn-login btn-confirm">确 定</button>
</div>