<div class="he-header">
    <p class="he-header-left">
        <img src="assets/img/nav_back@3x.png" alt=""/>
    </p>
    <p class="he-header-center">搜索</p>
    <p class="he-header-right btn-cancel">取消</p>
</div>
<div class="he-indsea-top">
    <select name="type" id="type">
        <option value="1">产品</option>
        <option value="2">店铺</option>
        <option value="3">菜谱</option>
    </select>
    <input type="text" id="keyword" placeholder="请输入关键词搜索"/>
    <button class="btn-search">搜 索</button>
    <div class="clear"></div>
</div>
<div class="history-key-container"></div>
<div class="search-container"></div>


<script id="merchant-item-template" type="text/template">
<%
    if (_.size(result.data) <= 0) {
%>
        <div style="text-align: center; width: 100%; margin-top: 50px">未查询到相关内容...</div>
<%
    }
    _.each(result.data, function(item) {
%>
        <div class="merchant-item" data-id="<%=item.id%>">

         <%
              if(item.pic != "" && item.pic!=null ){
      
          %>
              <img src="<%=item.pic%>" alt="">
          <%
            }else{
          %>
             <img src="assets/img/placeholder _100x100.png" alt="">
          <%
            } 
          %>
          
            <div class="merchant-intro">
                <h4><%=item.name%></h4>
                <p class="goods-label">共有<%=item.kind_count%>件商品</p>
                <p>共有<%=item.collection_count%>个收藏</p>
            </div>
            <div class="goods-window">  

             <div class="goods-container" style="width:<%=item.new_lists.length*31%>vw;">
              <!-- <img  src="assets/img/default_logo.png">-->
                <%
                    _.each(item.new_lists, function(goods) {
                %>
                    <img src="<%=goods.pic%>" alt="">
                <%
                    });
                %>
                </div>
            </div>
        </div>
<%
    });
%>
</script>


<script id="goods-item-template" type="text/template">
<%
    if (_.size(result.data) <= 0) {
%>
        <div style="text-align: center; width: 100%; margin-top: 50px">未查询到相关内容...</div>
<%
    }
    _.each(result.data, function(item) {
%>
    <div class="goods-item" data-id="<%=item.goods_id%>">
        <img src="<%=item.pic%>" alt="">
        <div class="goods-desc">
            <h4><%=item.name%></h4>
            <p><span class="goods-price"><%=item.price%>元</span> / <%=item.unit%><%=item.unit_name%></p>
            <span class="merchant-name"><%=item.merchant_name%></span>
        </div>
    </div>
<%
    });
%>
</script>

<script id="cookbook-item-template" type="text/template">
  <%
      if (result.total > 0) {
  %>
      <ul class="he-menu-list">
      <%
          _.each(result.data, function(item) {
      %>
              <li data-id="<%=item.id%>" class="figure book-item">
                  <img class="bottom" src="<%=item.pic%>" alt=""/>
                  <img class="center" src="assets/img/mengban@3x.png" alt=""/>
                  <div class="top">
                      <p class="name"><%=item.name%></p>
                      <!--<p class="number">已有<%=item.selected_count%>人选择 &nbsp;&nbsp;&nbsp; <%=item.favorite_count%>人收藏</p> --> 
                  </div>
              </li>
      <%
          });
      %>
      </ul>
  <%
      } else {
  %>
      <div style="width: 100%; text-align:center; margin-top: 50px;">未查询到相关内容...</div>
  <%
      }

  %>
</script>



<script id="history-key-template" type="text/template">
<%
if (_.size(keywords) > 0) {
%>
    <p class="he-indsea-history">历史搜索</p>
    <ul class="he-indsea-list">
<%
    _.each(keywords, function(item) {
%>
        <li class="history-keyword" data-type="<%=item.type%>" data-keyword="<%=item.keyword%>"><%=item.keyword%></li>
<%
    });
%>
    </ul>
<%
}
%>
</script>
