<div class="he-header">
    <p class="he-header-left"><img src="assets/img/nav_back@3x.png" alt=""/></p>
    <p class="he-header-center">个人资料</p>
    <p class="he-header-right btn-save">保存</p>
</div>

<div class="he-perdata-top">
    <img id='avatar' src="assets/img/34.png" alt=""/>
    <span class="btn-avatar">更换头像</span>
</div>

<ul class="he-perdata-list">
    <li class="name"> <span>*</span>昵称：<input id="realname" type="text" placeholder="填写您的姓名"/></li>
    <li class="tel">&nbsp;手机：<input readonly id="mobile" type="text" placeholder="填写您的手机号码"/></li>
    <!-- <li class="mailbox">邮箱：<input id="mail" type="text" placeholder="选择您邮箱"/></li>
    <li class="location">定位：<input id="market" type="text" placeholder="定位您周边的菜场"/> <img src="assets/img/GPS@2x.png" alt=""/></li> -->
    <li class="autograph">个性签名：<input id="signature" type="text" placeholder="写下您的心情吧"/></li>
</ul>
<div class="btn-address he-perdata-address">收货地址 <img src="assets/img/right.png" alt=""/></div>
<div class="he-perdata-logout">退出登录</div>
