<div class="he-header">
    <p class="he-header-left">
        <img src="assets/img/nav_back@3x.png" alt=""/>
    </p>
    <p class="he-header-center">签到积分</p>
</div>
<div class="he-sign-top">
    <ul>
        <li class="sign">签到</li>
        <li class="integral">+<span class="todayPoints"></span> 积分</li>
    </ul>
    <div>总积分：<span class="totalPoints"></span></div>
</div>

<ul class="he-sign-list">
    <li class="left">
        <img src="assets/img/qiandao@3x.png" alt=""/>
        已连续签到 <span class="days"></span> 天
    </li>
    <li class="right">
        <img src="assets/img/jifen@3x.png" alt=""/>
        明日+ <span class="tomorrowPoints"></span> 积分
    </li>
</ul>
<div class="he-sign-rule">积分规则</div>
<ul class="he-sign-footer">
    <li class="answer"></li>
</ul>
