<div class="he-header">
  <p class="he-header-left btn-custom"><img src="assets/img/nav_back@3x.png" alt=""/></p>
  <p class="he-header-center">支付成功</p>
</div>
<div class="he-paysuc-top">
  <img src="assets/img/finish@3x.png" alt=""/>
  <p>支付成功！我们会以最快的速度送货给您~</p>
</div>

<div class="he-paysuc-footer">
  <p>您支付了￥<%=pay_price%> 冻结金额为￥<%=frozen_funds%></p>
  <a href="#orderDetail/<%=order_id%>">点击查看详细信息</a>
</div>
<div class="he-paysuc-partake-wrap text-center ">
  <button id="he_paysuc_partake_btn" class="btn btn-success ">分享领取优惠券</button>
</div>
